@import "tailwindcss";


html,
body,
#root {
  width: 100%;
  height: 100%;
}

@keyframes blink {
  0% { opacity: .2; }
  20% { opacity: 1; }
  100% { opacity: .2; }
}

.typing span {
  animation: blink 1.4s infinite both;
}

.typing span:nth-child(2) {
  animation-delay: .2s;
}

.typing span:nth-child(3) {
  animation-delay: .4s;
}
